main{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

section{
    width: 50%;
}
header{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

p{ 
    text-align: left;
    text-align: justify;
    justify-content: space-evenly;
    font-size: 15px;
    width: 75%;
}

form{
    width: 75%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}
.inputangka{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 23px;
}

.btn1{
    margin-bottom: 10px;
    border-radius: 4px;
    border-color:aliceblue;
}

#btnhitung{
    background: rgb(125, 187, 242);
}